{% extends 'admin/base.html' %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Добавить роли пользователю</h1>
</div>
      <form method='post' action='{{url_for("admin.add_user_role",id=data.id)}}'>
        <p>Роли пользователя:</p>
        <ul>
            {% for user_role in data.user_roles %}
            <li>{{ user_role.name }}</li>
            {% endfor %}
          </ul>
          <p>Выбрать роль для добавления:</p>
          {% for role in data.all_roles %}
          <p><input type="checkbox" name="check_box_roles" value="{{ role.id }}">{{ role.name }}</p>
          {% endfor %}
        <input type='submit' value='Добавить' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}