  <p class='text-right'><a href='{{url_for("admin.add_user")}}' class='btn btn-success '>+Add User</a><a href='{{url_for("admin.add_role")}}' class='btn btn-success '>+Add Role</a></p>
    <table class='table table-bordered'>
    <thead>
      <th>Id</th>
      <th>Имя пользователя</th>
      <th>Редактирование</th>
      <th>Добавление ролей</th>
      <th>Удаление ролей</th>
      <th>Удаление пользователя</th>
    </thead>
    <tbody>
      {% for row in users %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{row.username}}</td>
          <td><a href='{{url_for("admin.edit_user",id=row.id)}}' class='btn btn-primary'>Редактировать</a></td>
          <td><a href='{{url_for("admin.add_user_role",id=row.id)}}' class='btn btn-primary'>Добавить роли</a></td>
          <td><a href='{{url_for("admin.delete_user_role",id=row.id)}}' class='btn btn-danger'>Удалить роли</a></td>
          <td><a href='{{url_for("admin.delete_user",id=row.id)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Удалить</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
