{% extends 'admin/layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Смена пароля</h3><hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="notification is-danger">
              {{ messages[0] }}
          </div>
      {% endif %}
      {% endwith %}
      <form method='post' action='{{ url_for("profile.change_password") }}'>
        <div class='form-group'>
          <label>Новый пароль</label>
          <input type='password' name='new_password' required class='form-control'>
        </div>
        <input type='submit' value='Сменить' class='btn btn-primary'>
      </form>
    </div>
  </div>
{% endblock %}

