{% extends 'resend/base.html' %}

{% block content %}

<h3>{{ resend_title }}</h3>

<form method="POST" role="form" class="form-horizontal" enctype=multipart/form-data>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Загрузите файлы</label>
    <input class="form-control" type="file" name="files"  id="formFileMultiple" multiple>
  </div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="ADP.UVKIP.APPNVPSV.IN">
  <label class="form-check-label" for="flexRadioDefault1">
    ADP.UVKIP.APPNVPSV.IN
  </label>
</div>
<input type="submit" value="Запуск"  class="btn btn-primary"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">


{% endblock %}

