{% extends 'resend/base.html' %}

{% block content %}

<form method="POST" role="form" class="form-horizontal" enctype=multipart/form-data>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Загрузите файлы</label>
    <input class="form-control" type="file" name="files"  id="formFileMultiple" multiple>
  </div>
<input type="submit" value="Запуск"  class="btn btn-primary"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">


{% endblock %}
