<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Resender</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('resend.index')}}">Меню</a>
          </li>
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login')}}">Войти</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page">Добро пожаловать, {{ current_user.username }}!</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('resend.journal')}}">Журнал работ</a>
          </li>
          {% endif %}
        </ul>  
          
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">Добро пожаловать, {{ current_user.username }}!</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout')}}">Выйти</a>
            </li> -->
            {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">На главную</a>
          </li>
         </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form> -->
      </div>
    </div>
  </nav>

